.app {
  text-align: center;
  background-color: #ffffff;
  font-size: calc(10px + 2vmin);
  color: #000000;
}

.logo {
  height: 10vmin;
  pointer-events: none;
}

.header {
  background-color: #ececec;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.body {
  height: 50vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttons-wrapper > * {
  display: inline-block;
  margin-right: 1vmin;
  background-color: #c2fbd7;
  border-radius: 50px;
  border-width: 0;
  color: #008000;
  cursor: pointer;
  font-size: calc(6px + 1vmin);
  height: 3vmin;
  padding: 0 3vmin;
  transition: all 200ms;
  &:last-child {
    margin-right: 0;
  }
  &.button-disabled {
    background-color: #ebebe4;
    color: #cbcbcb;
    cursor: not-allowed;
  }
  &:hover:not(.button-disabled) {
    background-color: #afe6c3;
    transform: scale(1.05);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 15s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
